<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="cn.com.sky.hyperbola.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="cn.com.sky.hyperbola.Perspective"
            id="cn.com.sky.hyperbola.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="cn.com.sky.hyperbola.ContactsView"
            id="cn.com.sky.hyperbola.contacts"
            name="contacts"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="cn.com.sky.hyperbola.ChatEditor"
            default="false"
            icon="icons/chat.gif"
            id="cn.com.sky.hyperbola.chateditor"
            name="chateditor">
      </editor>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="cn.com.sky.hyperbola.application"
            name="chat">
         <property
               name="appName"
               value="chat">
         </property>
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
         <property
               name="aboutText"
               value="这是一个产品">
         </property>
         <property
               name="windowImages"
               value="icons/alt16.gif,icons/alt32.gif">
         </property>
         <property
               name="preferenceCustomization"
               value="preference.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="cn.com.sky.hyperbola.GeneralPage"
            id="cn.com.sky.hyperbola.General"
            name="general">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="cn.com.sky.hyperbola.addContact"
            name="addContact">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="cn.com.sky.hyperbola.addContact"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+A">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Q">
      </key>
      <key
            commandId="org.eclipse.ui.help.aboutAction"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F1">
      </key>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocconcepts.xml">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocreference.xml">
      </toc>
      <toc
            file="tocsamples.xml">
      </toc>
      <toc
            file="toctasks.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
